





.navbar {
  padding: 0px;
  width: 100%;
  background: #e3f2fd;
}

.navbar-nav {
  font-family: "Roboto", cursive;
  margin-left: 60%;
  color: black;
}




.navbar-brand img{
  height:10vh;
  margin-left: 10px;
}






  




  
  
