.jumbotron {
    text-transform:lowercase;
    /* height: 100vh;  */
    background-color: #31b0d5 !important; /*background color to blue*/
   
    display: flex;
    flex-direction: column;
    color: white;
    margin:0;
    
  }