body {
    font-family: 'Raleway', sans-serif;
    background: rgba(242, 242, 242, .6);
    margin: 0;
  }
  * {
    box-sizing: border-box
  }
 
 
  .jumbotron{
    margin-left: 50 px;
   
  
    margin-top: 20px;
   
    margin-right: 10px;
    margin-bottom: 120px;
    padding: 0px;
   
  }

  .container-fluid{
   
    height: 70vh;
    padding: 0px;
    width:70%;
   
  }
  h1{
    padding: 10px;
    margin-top: 30px;
    margin-left: 10px;
  }

  p{
    padding-left:3rem;
    padding-right: 3rem;
    justify-content:center;
  }

hr{
  background-color: gray;
  margin-top: 1px;
}

  /**start Navigation**/

  .navbar{
    padding: 0px;
    width: 100%;
    background: #e3f2fd; 
  }

  .navbar-nav{
    margin-left: auto ;
    color: black;
    
   
  }

/**End Navigation**/
  
  .img-thumbnail{
    
    height: 200px;
    width: 60%;
    margin-left: 70px;
    border:1px solid gray;
    
    
  }

  #content p{
   margin-right: 20px;
 }
  
  footer{
      line-height: 100px;
      background: aquamarine;
      text-align: center;
      left: 0;
      bottom: 0;
      width: 100%;
      color: white;
      text-align: center;
      position: fixed;
  
       
  }

  @media (min-width: 576px)
  {
.jumbotron {
    padding: 0px;
    margin-left: 10px;
}
  }
