body {
    font-family: 'Raleway', sans-serif;
    background: rgba(242, 242, 242, .6);
    margin: 0;
  }
  * {
    box-sizing: border-box
  }
  .jumbotron{
      margin-top: 10px;
      margin-bottom: 30px;
      width: 70%;
  }

  .btn{
      margin-top: 20px;
  }

  nav{
      background: aqua;
  }
  
  footer{
      line-height: 100px;
      background: aquamarine;
      text-align: center;
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      color: white;
      text-align: center;
       
  }