body {
  font-family: 'Raleway', sans-serif;
  background: rgba(242, 242, 242, .6);
  margin: 0;
}
* {
  box-sizing: border-box
}
  
  /**start Navigation**/
  
  .navbar{
    
    padding: 0px;
    margin: 0px;
    width: 100%;
    background: #e3f2fd;
  }
  .navbar-nav{
    font-family:"Roboto", cursive;
    margin-left: auto ;
    color: black; 
  }

  /* Center website */
  .main {
    max-width: 1000px;
    margin: auto;
  }

  /* jumbotron */
  .jumbotron{
    margin-left: 50px;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 120px;
    padding: 0px;
   
  }

  .jumbotron-text{
    background: cadetblue;
    margin-left: 70px;
  }

  /* Container */
  .container-fluid{
   
    height: 70vh;
    padding: 0px;
    width:70%;
   
  }
  h1{
    padding: 10px;
    margin-top: 30px;
    margin-left: 10px;
  }

  hr{
    background-color: gray;
    margin-top: 1px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  form{
      line-height: 50px;
    }

  h1 {
    font-size: 30px;
    word-break: break-all;
  }
  
  .row {
    margin: 8px -16px;
  
  }
  
  /* Content */
  .content img {
    background-color: white;
    padding: 10px;
    height: 40vh;
    width: 90%;
    margin-left: 20px;
    margin-right: 80px;
    margin-bottom: 20px;
  }

  .centered {
    position: absolute;
    top: 70%;
    background: darkgray;
    width:75%;
    height: 7vh;
    margin-left: 30px;
    text-align: center;
    justify-content: flex-end;
  
  }

  /* Footer */
  footer{
    line-height: 100px;
    background: cadetblue;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    position: fixed;

     
}
  
  /* Responsive layout */
  @media screen and (max-width: 500px) {
    .container-fluid {
      width: 100%;
    }
  }