

body {
    font-family: 'Raleway', sans-serif;
    background: rgba(242, 242, 242, .6);
    margin: 0;
  }
  * {
    box-sizing: border-box
  }

  /*CONTENT*/
.container-fluid {
  /*sets up flexbox*/
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  padding: 0px;
}

/**start Navigation**/

  .navbar{
    padding: 0px;
    width: 100%;
  }


.navbar-nav{
    font-family:"Roboto", cursive;
    font-weight: 500;
    padding: 2px;
    background-color: #e3f2fd;
    font-size: medium;
    color: black;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    width: 100%; 
     
}

.navbar-header{
 
    background-color: #e3f2fd;
    font-size: medium;
    color: black;
    text-transform: uppercase;
    margin:10px;
    
    
}
/**End Navigation**/


/*JUMBOTRON*/
.jumbotron {
    text-transform:lowercase;
    height: 100vh; /*height to 100% of view height*/
    background-color: #31b0d5 !important; /*background color to blue*/
    margin-bottom: 0; /*no bottom margin*/
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 0;
    
  }
  
  

   h1 {
    /*YOUR NAME*/
    text-transform: uppercase;
    font-weight:1000;
    font-size: 3em;
    margin-bottom: 0;
    text-align: center;
    
  }
  
  .jumbotron-text p {
    margin: 0;
    text-align: center;
    
  }

  /*SOCIAL LINKS*/
.ul-social {
    text-align: center;
    padding-left: 0;
  }
  
  .li-social-links {
    display: inline-block;
    list-style: none;
  }
  
  .social {
    font-size: 2em;
    color: white;
    padding: 20px;
  }