body {
  font-family: 'Raleway', sans-serif;
  background: rgba(242, 242, 242, .6);
  margin: 0;
}

* {
  box-sizing: border-box
}


.about{
 border-radius:10px;
 margin-right:10px;
 margin-left:10px;
}

.jumbotron{
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 120px;
  padding: 0px;

}

/* Container */
/* .container-fluid {

  height: 70vh;
  padding: 0px;
  width: 70%;

} */

h1 {
  padding: 10px;
  margin-top: 30px;
  margin-left: 10px;
}

div p {

  justify-content: center;
  margin-right: 20px;
}

hr {
  background-color: gray;
  margin-top: 1px;
  margin-left: 10px;
  margin-right: 10px;
}

/**start Navigation**

/**End Navigation**/

.img-thumbnail {
  height: 200px;
  width: 50%;
  margin-left: 70px;
  margin-right:20px;
  margin-top: 10px;
  border: 1px solid gray;

}

.content {
  margin-left: 70px;
 
}



/* Footer  */



@media screen and (max-width: 500px) {
  ul li a {
    margin-right: 40px;
    width: 100%;
  }

  @media screen and (max-width: 500px) {
    .container-fluid {
      width: 100%;
    }
  }
}